.auth-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.auth-page .top-banner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 64px;
  box-sizing: border-box;
  background: var(--primary-container);
  color: var(--on-primary-container);
}
.auth-page .top-banner .top-banner-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
}
.auth-page .top-banner .top-banner-inner span {
  gap: 8px;
}
.auth-page .top-banner .top-banner-inner span a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-left: 8px;
  color: var(--primary);
}
.auth-page .top-banner .top-banner-close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 48px;
  transform: translateY(-50%);
}
@media (max-width: 600px) {
  .auth-page .top-banner {
    padding: 12px 24px 12px 12px;
  }
  .auth-page .top-banner .top-banner-close {
    right: 10px;
  }
  .auth-page .top-banner .top-banner-inner .top-banner-logo {
    margin-right: 8px;
  }
}
.auth-page .auth-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  animation: slide-in-from-top ease 0.3s;
}
.auth-page .auth-logo {
  margin-top: 10vh;
  transform: scale(1.4);
}
.auth-page .auth-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 1vh;
}
.auth-page .auth-tips {
  font-size: 14px;
}
.auth-page .auth-input {
  margin: 3vh 0;
}
.auth-page .auth-input-second {
  margin: 0 0 3vh 0;
}
.auth-page .auth-actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.auth-page .auth-actions button:not(:last-child) {
  margin-bottom: 10px;
}
